@charset "utf-8";

@import "_partial/normalize";
@import "_partial/base";
@import "_partial/header";
@import "_partial/home-post-list";
@import "_partial/archive-post-list";
@import "_partial/post";
@import "_partial/footer";
@import "_partial/mq";
@import "_partial/copyright";

@font-face {
    font-family: spotify-circular;
    src: url("https://open.scdn.co/fonts/CircularSpUIv3T-Light.woff2") format("woff2"), url("https://open.scdn.co/fonts/CircularSpUIv3T-Light.woff") format("woff"), url("https://open.scdn.co/fonts/CircularSpUIv3T-Light.ttf") format("ttf");
    font-weight: 200;
    font-style: normal
}
